* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-size: 16px;
    scroll-behavior: smooth;
}

// @import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");


body {
    font-family: "Raleway", sans-serif;
    line-height: 1.5;
    letter-spacing: 0.3px;
    max-width: 1200px;
    margin: auto;
}



$prim-c:#111;
$sec-c:#333;
$light-c:#fff;
$facebook:#395599;
$instagram:#c32f82;
$twitter:#1c9deb;
$pintrest:#d73532;
$linkedin:#4064ad;
$youtube:#f30000;


//responsive variables
$ipad-pro:1024px;
$ipad:768px;
$iphone-x:375px;


//font variables
$base-font-size:16px;
$sm_font-size:$base-font-size * 0.8;
$lg_font-size:$base-font-size * 1.4;
$xl_font-size:$base-font-size * 1.8;


//map
$Font_size:(
    "sm": $sm_font-size,
    "lg": $lg_font-size,
    "xl": $xl_font-size,
);

@each $size_name,
$size_value in $Font_size {
    .text {
        &-#{$size_name} {
            font-size: $size_value;
        }
    }
}

$Text-positioning: (
    "center": center,
    "rigth": right,
)

;

@each $position_name, $position_value in $Text-positioning{
    .#{$position_name} {
        text-align: $position_value;

    }
}


//flex
@mixin  flex($direction:row){
    display: flex;
    flex-direction: $direction;
}


//responsive
@mixin responsive($display){
    @media (max-width:$display){
        @content;
    }
}