.main_section {
    margin-top: 100px;
    width: 100%;
    @include flex(row);
    flex-wrap: wrap;

    img {
        max-height: 300px;
        width: 100%;
    }

    .section {
        width: 100%;
        @include flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        // background-color: black;

        .card {
            width: 230px;
            margin-bottom: 2rem;

            .text-lg {
                margin: 1rem 0;
            }

            &:hover {
                cursor: pointer;
                color: $light-c;
                background: linear-gradient($youtube, $twitter);
            }
        }
    }
}










